[core]
  editor = nvim
  ignorecase = false
	pager = delta --dark
	excludesfile = /Users/ruslankorneev/.gitignore
[user]
  name = Ruslan
  email = admin@ruslan.beer
  signingkey = DD3E58D7D3D710B0AE07A0D3BAE55AA568880CB8
[init]
  defaultBranch = master
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
[github]
  user = ruslan-korneev
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
